/* FONTS GO HERE AT THE TOP OF THE PAGE */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

body {
    background-color: whitesmoke;
    color: black;
    margin-top: 20px;
    margin-right: 200px;
    margin-bottom: 20px;
    margin-left: 200px;
    font-family: 'Libre Franklin', sans-serif;
}

.buttonholder {
    width:1475px;
    text-align:center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    text-align:center;
    font-family: 'Holtwood One SC', serif;
}

.titlebutton {
    background-color: #3366cc;
    width:150px; 
    border: 12px;
    color: white;
    font-family: 'Palanquin Dark', sans-serif;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.titlebutton {border-radius: 15px;}

.titlebutton:hover {
      background-color:white;
      color:black;
  }


.header {
    background-color: #3366cc;
    color: black;
    cursor: default;
    padding: 18px;
    width: 100%;
    border: 12px;
    text-align: center;
    display: inline-block;
    outline: none;
    font-size: 15px;
    font-family: 'Palanquin Dark', sans-serif;
}
  
.subtitles {
    background-color: #3366cc;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 12px;
    text-align: center;
    display: inline-block;
    outline: none;
    font-size: 15px;
    font-family: 'Palanquin Dark', sans-serif;
    margin: 4px 2px;
    transition: 0.4s;
  }
  
  .active, .subtitles:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

.subtitle2 {
    background-color: #17ebce;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 12px;
    text-align: center;
    display: inline-block;
    outline: none;
    font-size: 15px;
    font-family: 'Palanquin Dark', sans-serif;
    margin: 4px 2px;
    transition: 0.4s;
  }

  .active, .subtitle2:hover {
    background-color: #ccc; 
  }

.subtitle3 {
    background-color: #01c40b;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 12px;
    text-align: center;
    display: inline-block;
    outline: none;
    font-size: 15px;
    font-family: 'Palanquin Dark', sans-serif;
    margin: 4px 2px;
    transition: 0.4s;
  }

  .active, .subtitle3:hover {
    background-color: #ccc; 
  }

.subtitle4 {
    background-color: #e7d211;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 12px;
    text-align: center;
    display: inline-block;
    outline: none;
    font-size: 15px;
    font-family: 'Palanquin Dark', sans-serif;
    margin: 4px 2px;
    transition: 0.4s;
  }

.active, .subtitle4:hover {
    background-color: #ccc; 
  }

#center {
    text-align: center;
}

.container {
    display:flex;
    min-width: height 200px;;
    flex-wrap:nowrap;

}

.img {
    color:black;
    font-size:20px;
    font-family: 'Palanquin Dark', sans-serif;
    text-align: center;
    padding: 10px;
    width: 33.3333%;
    height: 33.3333%;
}

